@media screen and (width >=600px) {
    main {
        max-width: 1200px;
        margin: 0px auto;
    }

    #banner {
        height: 120px;
        margin-left: 20px;
    }

    #banner img {
        height: 100px;
        width: 100px;
    }

    .stacked p:nth-of-type(1) {
        font-size: 2rem;
    }

    .stacked p:nth-of-type(2) {
        font-size: 1.1rem;
    }

    #x-icon,
    #hamburger-icon {
        display: none;
    }

    #navBar {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        max-width: 1200px;
        margin: 0 auto;
    }

    #navBar a {
        min-width: 150px;
        text-align: center;
        border-top: 1px solid var(--background-color);
        border-right: 1px solid var(--background-color);
        padding: 8px;
    }

    #navBar a:first-of-type {
        border-left: 1px solid var(--background-color);
    }

    #sections {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-gap: 10px;

    }

    #form-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    section h2 {
        text-align: left;
    }

    #company-spotlights {
        flex-direction: row;
        flex-wrap: wrap;
        grid-gap: 20px;
    }

    #member-card {
        flex: 1 1 0;
    }

    .cards {
        font-size: 1rem;
    }

    dialog {
        max-width: 75%;
    }

    dialog h2 {
        text-align: center;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px;
        margin-top: 20px;
    }
}

/* For the discover page on large screens */
@media screen and (width >=1025px) {
    #places {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        font-size: .8rem;
    }

    #places section {
        align-content: space-between;
        min-height: 500px;
    }
}