/* Set common site colors and fonts */
/* https: //colorkit.co/palette/1686ab-6393af-86be5f/ */
:root {
    --primary-color: #1686ab;
    --secondary-color: #6393af;
    --accent-color: #86be5f;
    --text-color: #1e1e1e;
    --header-font: "Anton", sans-serif;
    --header-font-weight: 400;
    --body-font: "Poppins",
        sans-serif;
    --body-font-weight: 400;
    --background-color: #c9ecf8;
}

* {
    margin: 0;
} 

/* Overall page styles for every page */
body {
    font-family: var(--body-font);
    font-weight: var(--body-font-weight);
    color: var(--text-color);
    background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
}

main {
    padding: 10px;
}

header,
footer {
    background-color: var(--primary-color);
    color: #fff;
}

/* Banner styling */
#banner {
    display: flex;
    flex-direction: row;
    color: #fff;
    align-items: center;
    height: 100px;
}

#banner img {
    padding: 10px;
    height: 75px;
    width: 75px;
}

.stacked {
    display: flex;
    height: 140px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stacked p:nth-of-type(1){
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-size: 1.5rem;
}

#banner p:nth-of-type(2) {
    font-size: .8rem;
    padding-top: 2px;
}

/* Collapsible Hamburger Menu */
#hamburger-icon,
#x-icon {
    position: absolute;
    width: 44px;
    height: 44px;
    font-size: 44px;
    cursor: pointer;
}

#hamburger-icon {
    top: 10px;
    right: 10px;
}

#x-icon {
    top: 8px;
    right: 2px;
}

.toggle {
    display: none;
}

.toggle.show {
    display: block;
}

/* Navbar Styles */
nav {
    display: grid;
    grid-template-rows: repeat(4, 0fr);
    transition: grid-template-rows 0.5s ease-out;
}

nav.show {
    grid-template-rows: repeat(4, 1fr);
}

nav a {
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    /* background-color: var(--primary-color); */
    font-size: 1.2em;
    transition: padding 0.5s ease-out;
}

nav.show a {
    padding: 8px;
}

nav a:hover {
    cursor: pointer;
     background-color: var(--secondary-color);
     color: var(--text-color);
}

nav a.active {
    font-weight: bold;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Footer styles */
footer {
    padding: 10px;
    line-height: 1.4rem;
}

#social-media {
    text-align: center;
}

#social-media img {
    width: 75px;
    height: 75px;

}
