/* Set common site colors and fonts */
/* https: //colorkit.co/palette/1686ab-6393af-86be5f/ */
:root {
    --primary-color: #137697;
    --secondary-color: #6393af;
    --accent-color: #86be5f;
    --text-color: #1e1e1e;
    --background-color: #c9ecf8;
    --white-background-color: #fff;
    --header-font: "Anton", sans-serif;
    --header-font-weight: 400;
    --body-font: "Poppins",
        sans-serif;
    --body-font-weight: 400;
    --standard-spacing: 10px;
    --testing-border: 1px solid red;
}

* {
    margin: 0;
    box-sizing: border-box;
}

/* Overall page styles for every page */
body {
    font-family: var(--body-font);
    font-weight: var(--body-font-weight);
    color: var(--text-color);
    background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
}

main {
    padding: var(--standard-spacing);
}

header,
footer {
    background-color: var(--primary-color);
    color: var(--white-background-color);
}

/* Hero Image and CTA */
#hero {
    width: 100%;
    position: relative;
    background-image: '../images/hero1.jpg';
}

#hero img {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px auto;
    padding: 7px;
    border-radius: 30px;
    border: 2px solid var(--primary-color);
    box-shadow: 10px 10px 15px var(--text-color);
}

#cta {
    position: absolute;
    bottom: 13%;
    right: 7%;
    display: block;
    background-color: var(--white-background-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: var(--standard-spacing);
    border: 3px double var(--primary-color);
    font-size: 1.8rem;
    text-decoration: none;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    box-shadow: 3px 3px 7px var(--secondary-color);
}

#cta:hover {
    border-color: var(--accent-color);
    background-color: #fff;
}

/* Standard section design */
#sections {
    display: flex;
    flex-direction: column;
}

section {
    border: 2px solid var(--primary-color);
    border-radius: var(--standard-spacing);
    background-color: var(--white-background-color);
    margin-bottom: var(--standard-spacing);
    min-height: 3rem;
    box-shadow: 5px 5px 10px var(--text-color);
}

section h2 {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-top-left-radius: var(--standard-spacing);
    border-top-right-radius: var(--standard-spacing);
    text-align: center;
    padding: var(--standard-spacing);
    font-weight: var(--body-font-weight);
    font-size: 1.1rem;
}

.bold {
    font-weight: bold;
}


/* Banner styles */
#banner {
    display: flex;
    flex-direction: row;
    color: var(--white-background-color);
    align-items: center;
    height: 100px;
}

#banner img {
    padding: var(--standard-spacing);
    height: 75px;
    width: 75px;
}

.stacked {
    display: flex;
    height: 140px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stacked p:nth-of-type(1) {
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-size: 1.5rem;
}

.stacked p:nth-of-type(2) {
    font-size: .8rem;
    padding-top: 2px;
}

/* Collapsible Hamburger Menu */
#hamburger-icon,
#x-icon {
    position: absolute;
    width: 44px;
    height: 44px;
    font-size: 44px;
    cursor: pointer;
}

#hamburger-icon {
    top: 10px;
    right: 10px;
}

#x-icon {
    top: 8px;
    right: 2px;
}

.toggle {
    display: none;
}

.toggle.show {
    display: block;
}

/* Navbar Styles */
nav {
    display: grid;
    grid-template-rows: repeat(4, 0fr);
    transition: grid-template-rows 0.5s ease-out;
}

nav.show {
    grid-template-rows: repeat(4, 1fr);
}

nav a {
    overflow: hidden;
    color: var(--white-background-color);
    text-decoration: none;
    font-size: 1.2em;
    transition: padding 0.5s ease-out;
}

nav.show a {
    padding: 8px;
}

nav a:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

nav a.active {
    font-weight: bold;
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: auto;
}

/* Footer styles */
footer {
    padding: var(--standard-spacing);
    line-height: 1.4rem;
}

#social-media {
    text-align: center;
}

#social-media img {
    width: 75px;
    height: 75px;

}

/**************************
/* Directory page styles **
/*************************/
/* Directory icon styles */
#type-selector {
    margin: 0 auto;
    max-width: 220px;
    text-align: center;
}

#type-selector img {
    border: 2px solid var(--text-color);
    cursor: pointer;
    box-shadow: 3px 3px 3px var(--text-color);
    margin: var(--standard-spacing);
    margin-top: 0;
    border-radius: var(--standard-spacing);
    padding: 4px;
}

#type-selector img:hover {
    border-color: var(--accent-color);
}

#type-selector img:active {
    background-color: var(--accent-color);
}

/* Directory cards styles */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: var(--standard-spacing);
    font-size: .9rem;
}

.cards section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--standard-spacing);
    border: 3px solid var(--primary-color);
    border-radius: 20px;
    background-color: var(--white-background-color);
    box-shadow: 5px 5px 10px var(--text-color);
}

.cards section p {
    text-align: center;
}

.cards section a {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

.cards section:hover {
    border-color: var(--accent-color);
}

.cards section a:nth-of-type(2) {
    text-decoration: underline;
}

.cards section a:nth-of-type(2):hover {
    color: var(--accent-color);
}

.cards section figure {
    text-align: center;
}

.cards section figure img {
    max-width: 200px;
}

/* Directory grid styles */
.list {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
}

.list section {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    align-items: center;
    min-height: 44px;
    padding: var(--standard-spacing);
    text-align: center;
}

.list section div {
    padding-left: var(--standard-spacing);
    padding-right: var(--standard-spacing);
}

.list section:nth-of-type(even) {
    background-color: var(--secondary-color);
}

.list section a {
    color: var(--text-color);
}

.list section a:hover {
    color: var(--accent-color);

}

.list section:nth-of-type(even) a:hover {
    color: var(--accent-color);
}
/********************
/* Homepage styles **
/*******************/
/* Homepage Sections */
#events {
    padding: var(--standard-spacing);
}

#current-weather {
    display: flex;
    flex-direction: row;
}

#current-weather figure {
    margin-right: 10px;
}

#current-weather div {
    display: flex;
    flex-direction: column;
    padding: var(--standard-spacing);
    font-size: .9rem;
    line-height: 1.2rem;
}

#weather-forecast {
    padding: var(--standard-spacing);
    line-height: 2rem;
}

#company-spotlights {
    border: none;
    background: none;
    box-shadow: none;
    display: flex;
    flex-direction: column;
}

#member-card {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border: 1px solid var(--primary-color);
    border-radius: var(--standard-spacing);
    background-color: var(--white-background-color);
    box-shadow: 5px 5px 10px var(--text-color);
}

#member-card h3 {
    text-align: center;
    padding: var(--standard-spacing);
    border-bottom: 1px solid var(--primary-color);
}

#member-card .contact-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 0;
}

#member-card img {
    max-width: 100px;
    margin: var(--standard-spacing);
}

#member-card .contact-info {
    display: flex;
    flex-direction: column;
    padding: var(--standard-spacing);
}

#member-card .contact-info p {
    line-height: 1.5rem;
    overflow-wrap: anywhere;
}

