/* Variables */
:root {
    --header-font-family: "Edu SA Hand", cursive;
    --header-font-weight: 700;
    --body-font-family: "Asta Sans", sans-serif;
    --body-font-weight: 400;

    --background-color: #dbdbdb;
    --primary-color: #00443d;
    --secondary-color: #cdc392;
    --highlight-color: #09bc8a;
    /* --highlight-color: #74b3ce; */
    /* --highlight-color: #508991; */


    --dark-text-color: #2C2C2C;
    --light-text-color: #f3f2f2;

    --corners: 15px;
    --spacing: 10px;
    --wide-spacing: 20px;
}

/* Style resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

/* Overall Site Styles */
body {
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    line-height: 1.5rem;
    background-color: var(--background-color);
    color: var(--dark-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight);
}

header,
footer {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    position: relative;
}

footer {
    padding: var(--spacing);
}

footer p {
    text-align: center;
    margin: 0 50px;
}

.logo-title {
    display: flex;
    flex-direction: row;
    font-size: 1.8rem;
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight);
    align-items: center;
}

.logo-title span {
    padding: var(--wide-spacing);
    line-height: 2.6rem;

}

nav {
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav ul li {
    border-top: 1px solid var(--background-color);
}

nav a {
    display: block;
    background-color: var(--highlight-color);
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    padding: var(--spacing);
}

nav a.active {
    background-color: var(--background-color);
    cursor: default;
}

nav a:hover {
    background-color: var(--background-color);
    color: var(--dark-text-color);
}

nav a:active {
    box-shadow: 1px 1px 5px var(--primary-color) inset;
}

main {
    max-width: 1200px;
    padding: var(--spacing);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing);
}

main h1 {
    margin: var(--spacing);
}

main ul {
    margin: var(--spacing) 0;
}

main li::marker {
    content: "🚶‍♂️‍➡️";
    font-size: 1.3rem;
}

main li {
    margin-left: 40px;
    line-height: 1.7rem;
    margin-right: var(--spacing);
}

section,
#hero,
#highlights img {
    max-width: 100%;
    flex: 1;
    background-color: var(--light-text-color);
    border: 1px solid var(--primary-color);
    box-shadow: 3px 3px 5px var(--primary-color);
    border-radius: var(--corners);
    display: flex;
    flex-direction: column;
}

section:hover {
    box-shadow: 3px 3px 5px var(--highlight-color);
}

section h2 {
    background-color: var(--secondary-color);
    padding: var(--spacing);
    border-top-left-radius: var(--corners);
    border-top-right-radius: var(--corners);
    border-bottom: 1px solid var(--primary-color);
    font-size: 1.2rem;
    line-height: 1.8rem;
}

section p {
    padding: var(--spacing);
}

section img {
    max-width: calc(100% - 20px);
    height: auto;
    margin: var(--spacing);
    border-radius: var(--corners);
    box-shadow: 3px 3px 5px var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* This is the link to the siteplan, not the plan itself */
#siteplan {
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 44px;
    height: 44px;
    width: 44px;
    text-decoration: none;
}

#hero {
    align-self: center;
    max-width: 100%;
}

/* Homepage styles */
#highlights {
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing);
}

.picture-in-picture {
    position: relative;
    max-width: 500px;
}

#highlights .thumbnail-left {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 3px 3px 5px var(--secondary-color);
}

#highlights .picture-in-picture .thumbnail-right {
    position: absolute;
    top: 0px;
    right: 0px;
    box-shadow: -3px 3px 5px var(--secondary-color);
}